@function rem($size) {
  @return $size / 16px * 1rem;
}

$dark-green: #2F4536;
$green: #C6EBC9;
$light-green: #ffff;
$location-color: #5C8A6B;
$my-font-size: rem(28px);
$heading-font: rem(36px);
$nunito: 'Nunito', sans-serif;
$qs: 'Quicksand', sans-serif;

section.main{
  margin: rem(70px) auto;
  padding: rem(80px) rem(50px) ;
  width: rem(1470px);
  background-color: $light-green;
  color: $dark-green;
  font-family: $nunito;
  border-bottom: 2px solid $dark-green;
  em.message {
    font-size: $my-font-size;
  }
  section.profile {
    margin-bottom: rem(60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div.profile-photo-name-location {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      svg.logo {
        margin-top: rem(30px);
      }
      div.name-location {
        margin: 0;
        margin-left: rem(10px);
        h3 {
          padding: 0;
          font-weight: normal;
          font-size: $heading-font;
          margin-bottom: 0;
        }
        div.location {
          display: flex;
          flex-direction: row;
          align-items: center;
          h5 {
            margin: 0;
            margin-left: rem(10px);
            font-size: $my-font-size;
            color: $location-color;
            font-weight: lighter;
          }
        }
      }
    }
  }
  div.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: rem(440px);
    font-size: $heading-font;
    h3 {
      font-weight: normal;
    }
    button.provider-consumer {
      color: $dark-green;
      border: 2px solid $dark-green;
      background-color: transparent;
      font-size: $heading-font;
      padding: rem(10px) rem(20px);
      border-radius: rem(8px);
      cursor: pointer;
      &:hover {
        transition: all .4s;
        background-color: $dark-green;
        color: $light-green;
        border: 2px solid $dark-green;
      }
    }
  }

  section.about {
    margin-bottom: rem(20px);
    div.title-content {
      margin-left: rem(20px);
      font-size: $my-font-size;
    }
  }

  section.skills {
    div.title-content {
      display: inline;
      button.skills-btn {
        color: $light-green;
        background-color: $dark-green;
        font-size: $my-font-size;
        padding: rem(10px) rem(30px);
        margin: rem(10px) rem(20px);
        border-radius: rem(25px);
        cursor: pointer;
        border: none;
        font-weight: normal;
      }
    }
  }

  section.social-links {
    border-top: 1px solid $dark-green;
    margin: rem(40px) 0;
    h1.title-heading {
      width: auto ;
    }
    div.for-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: rem(60px) auto;
      div.link-and-edit {
        font-size: $my-font-size;
        font-family: $nunito;
        color: $dark-green;
        div.link-and-main-edit {
          margin-bottom: rem(30px);
          margin-top: rem(-20px);
          button.save-button {
            font-family: $nunito;
            font-size: $my-font-size;
            background-color: $dark-green;
            color: $light-green;
            border: none;
            padding: rem(10px) rem(30px);
            margin: auto rem(20px);
            margin-left: 30px;
            &:hover {
              opacity: .8;
              transform: scale(1.04);
              transition: all .4s;
            }
          }
          button.delete-button {
            font-family: $nunito;
            font-size: $my-font-size;
            background-color: red;
            color: $light-green;
            border: none;
            padding: rem(10px) rem(30px);
            margin: auto rem(20px);
            margin-left: 30px;
            &:hover {
              background-color: lightcoral;
              transform: scale(1.04);
              transition: all .4s;
            }
          }
          a#to-media {
            color: $dark-green;
            text-transform: capitalize;
            display: inline-block;
            width: 40vw;
            &:hover {
              transform: scale(1.1) translateX(5%);
              transition: all .4s;
            }
          }
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div.form-inputs {
            display: inline-flex;
            margin-bottom: rem(8px);
            min-width: rem(500px);
            div.text-desc-for-form-input {
              min-width: rem(280px);
              margin-right: rem(10px);
            }
            input[type="text"] {
              border: none;
              border-bottom: 1px solid $dark-green;
              min-width: rem(400px);
              text-indent: 5px;
              font-size: $my-font-size;
              font-family: $nunito;
              &:focus {
                transform: scale(1.04);
                transition: all .4s;
              }
              &::placeholder {
                opacity: .8;
              }
            }
          }
          
          button[type="submit"] {
            width: max-content;
            color: $light-green;
            background-color: $dark-green;
            font-size: $my-font-size;
            font-family: $nunito;
            padding: rem(10px) rem(30px);
            border: none;
            &:hover {
              opacity: .8;
              transform: scale(1.04);
              transition: all .4s;
            }
          }
        }

      }
    }
    
  }
}

h1.title-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: rem(48px);
  width: rem(162px);
  font-size: $heading-font;
}
div.title-content {
  font-size: $my-font-size;
}

svg.edit-button {
  cursor: pointer;
  &:hover {
    transition: all .3s;
    transform: scale(1.1);
  }
}