@function rem($size) {
  @return $size / 16px * 1rem;
}

$dark-green: #2f4536;
$green: #c6ebc9;
$light-green: #fff;

$normal-font: rem(28px);
$header-font: rem(36px);

$nunito: 'Nunito', sans-serif;
$qs: 'Quicksand', sans-serif;

div.create-post-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: rem(20px) auto;
  margin-bottom: rem(-30px);
  background-color: $light-green;
  &:hover {
    transform: scale(1.1);
    transition: all 0.4s;
    background-color: $dark-green;
    border: 3px solid $light-green;
  }
  a.create-post {
    margin-left: auto;
    margin-right: auto;
    font-size: $normal-font;
    font-family: $nunito;
    text-decoration: none;
    padding: rem(15px) rem(30px);
    color: $dark-green;
    &:hover {
      transform: scale(1.1);
      transition: all 0.4s;
      opacity: 1.1;
      color: $light-green;
    }
  }
}
